In [1]:
import pandas as pd
import numpy as np
import gc

from APIHandlers import Alpha_Vantage_Handle

In [2]:
handler = Alpha_Vantage_Handle()
TSLA = handler.get_time_daily(ticker='TSLA', outputsize='full')
MSFT = handler.get_time_daily(ticker='MSFT', outputsize='full')
AAPL = handler.get_time_daily(ticker='AAPL', outputsize='full')
GOOG = handler.get_time_daily(ticker='GOOG', outputsize='full')
AMZN = handler.get_time_daily(ticker='AMZN', outputsize='full')
NVDA = handler.get_time_daily(ticker='NVDA', outputsize='full')
JPM = handler.get_time_daily(ticker='JPM', outputsize='full')
PNC = handler.get_time_daily(ticker='PNC', outputsize='full')
V = handler.get_time_daily(ticker='V', outputsize='full')
META = handler.get_time_daily(ticker='META', outputsize='full')

In [66]:
symbol_list = ['TSLA', 'MSFT', 'AAPL', 'GOOG', 'AMZN', 'NVDA', 'JPM', 'PNC', 'V', 'META']
df_list = [TSLA, MSFT, AAPL, GOOG, AMZN, NVDA, JPM, PNC, V, META]

In [149]:
df = pd.DataFrame()

In [150]:
for idx, d in enumerate(df_list[:5]):
    temp_df = pd.DataFrame().from_dict(d.json()['Time Series (Daily)'], orient='index')
    temp_df.columns = ['Open', 'High', 'Low', 'Close', 'Volume']
    temp_df = temp_df.rename_axis('Date').reset_index()
    temp_df['Symbol'] = d.json()['Meta Data']['2. Symbol']
    df = pd.concat([df, temp_df])

In [151]:
df

            Date      Open      High       Low     Close     Volume Symbol
0     2023-04-04  197.3200  198.7446  190.3200  192.5800  126463845   TSLA
1     2023-04-03  199.9100  202.6897  192.2000  194.7700  169545900   TSLA
2     2023-03-31  197.5300  207.7900  197.2000  207.4600  170222118   TSLA
3     2023-03-30  195.5800  197.3300  194.4200  195.2800  110252238   TSLA
4     2023-03-29  193.1300  195.2900  189.4400  193.8800  123660026   TSLA
...          ...       ...       ...       ...       ...        ...    ...
5889  1999-11-05   64.7500   65.5000   62.2500   64.9400   11091400   AMZN
5890  1999-11-04   67.1900   67.1900   61.0000   63.0600   16759200   AMZN
5891  1999-11-03   68.1900   68.5000   65.0000   65.8100   10772100   AMZN
5892  1999-11-02   69.7500   70.0000   65.0600   66.4400   13243200   AMZN
5893  1999-11-01   68.0600   71.8800   66.3100   69.1300   12824100   AMZN

[23168 rows x 7 columns]

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23168 entries, 0 to 5893
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    23168 non-null  object
 1   Open    23168 non-null  object
 2   High    23168 non-null  object
 3   Low     23168 non-null  object
 4   Close   23168 non-null  object
 5   Volume  23168 non-null  object
 6   Symbol  23168 non-null  object
dtypes: object(7)
memory usage: 1.4+ MB

In [153]:
df['Date'] = pd.to_datetime(df['Date'])
for c in df.columns[1:-1]:
    df[c] = df[c].astype('float')

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23168 entries, 0 to 5893
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    23168 non-null  datetime64[ns]
 1   Open    23168 non-null  float64
 2   High    23168 non-null  float64
 3   Low     23168 non-null  float64
 4   Close   23168 non-null  float64
 5   Volume  23168 non-null  float64
 6   Symbol  23168 non-null  object
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 1.4+ MB

In [156]:
df.to_csv('Data/ticker_dailys.csv')